.eerie-black {
    background-color: #23231A;
}

.black-olive {
    background-color: #322F20;
}

.field_drab {
    background-color: #6A5837;
}

.olive {
    background-color: #988F2A;
}

.orange {
    background-color: #FE5F00;
}
