{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-6 pt-3">Kalkulator wartości skrzyń</h2>
    <form action="{{ url_for('main.calculate') }}" method="POST">
        <div id="fields-container" class="row">
            {% if form_data and form_data['case_code'] %}
                {% for i in range(form_data['case_code']|length) %}
                    {% include 'case_field.html' %}
                {% endfor %}
            {% else %}
                {% include 'case_field.html' %}
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary mt-4">Oblicz łączną wartość</button>
        <button type="button" class="btn btn-secondary mt-4" id="add_button">Dodaj</button>
    </form>

    {% if total_value is not none %}
        <h4 class="mt-3 pt-3">Łączna wartość: {{ total_value }} zł</h4>
        <h4 class="mt-3 pt-3">Łączna wartość netto: {{ total_value_after_tax }}zł</h4>
        <h5>Podatek steam od wystawienia 5%, następnie podatek od gry 10%</h5>
    {% endif %}
</div>

<script>
    var casesData = {{ cases | tojson }};
</script>
<script src="{{ url_for('static', filename='js/calculate.js') }}"></script>
{% endblock %}
