<div class="row mb-3 align-items-center case-row">
    <div class="col-md-4">
        <select name="case_code[]" class="form-select" required>
            {% for chest_name, chest_info in cases.items() %}
                <option value="{{ chest_info['code'] }}">
                    {{ chest_name }} - {{ chest_info['latest_price'] }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-2">
        <input type="number" name="quantity[]" class="form-control" min="1" required>
    </div>

    <div class="col-md-1 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-danger remove-btn">Usuń</button>
    </div>
</div>
