{% extends "base.html" %}

{% block content %}
<div class="album py-5">
    <div class="container">
        <div class="row">
            {% if cases %}
                {% for chest_name, chest_info in cases.items() %}
                    <div class="col-md-3">
                        <a href="{{ url_for('main.chest_info', case_code=chest_info['code']) }}" class="text-decoration-none">
                            <div class="card mb-3 box-shadow field_drab text-light">
                                <img src="{{ chest_info.image }}" class="card-img-top" alt="{{ chest_name }}">
                                <div class="card-body field_drab">
                                    <h5 class="card-title">{{ chest_name }}</h5>
                                    <p class="card-text">{{ chest_info['latest_price'] }}</p>
                                    <p>
                                        <span style="color: {{ 'green' if chest_info.change >= 0 else 'red' }}">
                                            {{ chest_info.change }}%
                                        </span>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary text-light">Sprawdź</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>Brak wyników dla "{{ query }}"</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}